.row
  .col-md-12
    %ol.breadcrumb
      %li
        = fa_icon "home"
        = link_to "Liste des mises à jour", root_path
      %li= link_to @commcare_update.cc_update_on.strftime("%Y-%m-%d"), @commcare_update
      %li.active Etape 2 : Ajout des nouveaux participants

.row
  .col-md-12
    = bootstrap_form_for(@commcare_update, multipart: true) do |f|
      = f.hidden_field :progress, value: "2"

      - pids = JSON.parse(@commcare_update.new_participants).map{|e| e["pid"]}.join(", ")
      - n_pids = pids.count(",") + 1
      .panel.panel-primary
        .panel-heading 1. Télécharger les données des nouveaux participants
        .panel-body.text-center
          %a.btn.btn-success{href: new_participants_file_commcare_update_path(@commcare_update)}
            = fa_icon "download"
            Participants
          %button.btn.btn-default{type: "button", "data-toggle" => "popover",
          "data-placement" => "bottom",
          "data-content" => "<ul><li><b>Participants :</b> #{n_pids}</li><li><b>PIDs :</b> #{pids}</li></ul>"}
            = fa_icon "info-circle"

      .panel.panel-primary
        .panel-heading 2. Importer les nouveaux participants dans CommCare
        .panel-body.text-center
          %a.btn.btn-success{href: "https://www.commcarehq.org/a/prevac-1/data/edit/import_cases/", target: "_blank"}
            = fa_icon "share-square-o"
            Importer
          %button.btn.btn-default{type: "button", "data-toggle" => "modal", "data-target" => "#new-participants-import-modal"}
            = fa_icon "info-circle"

      = link_to "Annuler", root_path, class: "btn btn-default"
      = f.submit "Continuer", class: "btn btn-primary pull-right"

.modal.fade#new-participants-import-modal{tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title#myModalLabel
          = fa_icon "info-circle"
          Import des nouveaux participants dans CommCare
      .modal-body
        = render partial: "help/step2/new_participants_import"
