.row
  .col-md-12
    %ol.breadcrumb
      %li.active
        = fa_icon "chevron-right"
        Liste des mises à jour

.row
  .col-md-12
    %p.text-right
      %a.btn.btn-primary{href: "#", role: "button"}
        = fa_icon "plus"
        Nouvelle mise à jour

    %table.table
      %thead
        %tr
          %th Date
          %th Etape
          %th Action
      - @commcare_updates.each do |u|
        %tr{class: u.completed? ? "" : "danger"}
          %td= u.cc_update_on.strftime("%Y-%m-%d")
          %td= "#{u.progress} / #{CommcareUpdate::MAX_STEPS}"
          %td actions

    %div.text-center= will_paginate @updates, renderer: BootstrapPagination::Rails, next_label: "Suiv. »", previous_label: "« Préc."
